.MoviesWrapper {
  width: 100%;
  background: #36373c;
  float: left;
}

.MoviesWrapper h1 {
  float: left;
  padding-left: 20px;
}

.MoviesWrapper select {
  float: right;
  border: 0;
  margin: 25px 0;
  margin-right: 20px;
}

.MoviesWrapper input.Right {
  margin: 21px 0;
}

.MoviesWrapper select, .MoviesWrapper option {
  background: #36373c;
  color: #fff;
  padding: 5px;
  font-size: 16px;
}

.MoviesWrapper .Movies {
  padding: 0 20px;
  background: #1d1e22;
  float: left;
  width: 100%;
}

.MoviesWrapper .Right {
  float: right;
  max-width: 125px;
}
